{% extends 'base.html' %}


{% block title %}

Index page

{% endblock %}


{% block content_title %}
Main page
{% endblock %}


{% block content %}


<div class="col-md-offset-3 col-md-6">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet non itaque quo eius numquam in voluptas
        consequatur! Molestias animi mollitia, quam veritatis accusantium voluptatibus? Aliquam dicta corporis debitis.
        Nostrum, in!</p>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet non itaque quo eius numquam in voluptas
        consequatur! Molestias animi mollitia, quam veritatis accusantium voluptatibus? Aliquam dicta corporis debitis.
        Nostrum, in!
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet non itaque quo eius numquam in voluptas
        consequatur! Molestias animi mollitia, quam veritatis accusantium voluptatibus? Aliquam dicta corporis debitis.
        Nostrum, in!</p>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet non itaque quo eius numquam in voluptas
        consequatur! Molestias animi mollitia, quam veritatis accusantium voluptatibus? Aliquam dicta corporis debitis.
        Nostrum, in!</p>

    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet non itaque quo eius numquam in voluptas
        consequatur! Molestias animi mollitia, quam veritatis accusantium voluptatibus? Aliquam dicta corporis debitis.
        Nostrum, in!</p>
</div>
{% endblock %}